<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Channel Definitions</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
	<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
	<link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/stylesheets/style.css" rel="stylesheet">
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/jquery-ui-1.12.0/jquery-ui.min.js"></script>
	<script src="/javascripts/channel_definitions.js"></script>
</head>
<body>
<div class="container-fluid">
	<div class="col-md-8">
		<form id="edit_channel" name="edit_channel" class="form-horizontal">
			<fieldset>
				<legend></legend>
				<div class="control-group">
					<label for="title" class="control-label">Name</label>
					<div class="controls">
						<input type="text" id="title" name="title" class="optional" minlength="2" maxlength="40" disabled>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="description">Description</label>
					<div class="controls">
						<input type="text" id="description" name="description" class="optional" minlength="2" disabled>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="keywords">Keywords</label>
					<div class="controls">
						<input type="text" id="keywords" name="keywords" class="optional" disabled />
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="status">Status</label>
					<div class="controls">
						<select id="status" name="status" disabled>
							<option value="live">Live</option>
							<option value="draft">Draft</option>
							<option value="inactive">Inactive</option>
						</select>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="content_sources">Content Sources</label>
					<ul id="content_sources" name="content_sources"></ul>
					<div id="add_source">
						<select id="brand" name="brand"></select>
						<select id="source" name="source"></select>
						<button class="btn btn-xs">Add Source</button>
					</div>
				</div>
				
				<br>
				
				<div class="control-group">
					<button id="edit" class="btn btn-primary">Edit Channel</button>
					<div id="edit_actions">
						<button class="btn btn-primary">Save</button>
						<button class="btn btn-primary">Cancel</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	
	<div id="channels" class="col-md-4">
		<ul id="channel_list"></ul>
	
		<button id="reorder" class="btn btn-primary">Change Order</button>
		
		<div id="reorder_actions">
			<button class="btn btn-primary">Save</button>
			<button class="btn btn-primary">Cancel</button>
		</div>
	</div>
</div>
<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>